
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1> Lista Dipendenti</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Indirizzo</th>
                <th scope="col">Codice Fiscale</th>
                <th scope="col">Coniugato</th>
                <th scope="col">Numero di figli a carico</th>
                <th scope="col">Mansione</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dipendente in Model)
            {
                <tr>
                    <th scope="row"> @dipendente.Id </th>
                    <td> @dipendente.Nome </td>
                    <td> @dipendente.Cognome </td>
                    <td> @dipendente.Indirizzo </td>
                    <td> @dipendente.CodiceFiscale </td>
                    <td> @dipendente.StatoCivile </td>
                    <td> @dipendente.FigliCarico </td>
                    <td> @dipendente.Mansione </td>
                </tr>
            }
        </tbody>
    </table>
</div>